body {
    background-color: #6a1655;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(3);
    overflow: hidden;
}

h3 {
    color: rgb(255, 255, 255);
} 

a {
    text-decoration: none;
    color: #519cf1;
}

a {
    transition: 0.5s;
}
a:hover, a:focus{
    box-shadow: 0 0 40px 40px #420f35 inset;
    border-radius: 15%;
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #420f35;
    border-radius: 100%;
    border-top-color: #fff;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

/*

Dá primeira versão KKKKKKK

.caixa {
    background: rgb(186, 4, 192);
    width: 100px;
    height: 100px;
    position: relative;
    animation: vivokkk 1.4s infinite alternate;
    animation-delay: 0.8s;
}
  
@keyframes vivokkk {
    0% {left:0px; top:0px;}
    25% {left:400px; top:-30px;}
    40% {left:40px; top:60px;}
    50% {left:500px; top:500px;}
    60% {left:90%; top:150px}
    75% {left:0px; top:200px;}
    100% {left:300px; top:300px;}
}
*/